# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore SQLite and database files
*.sqlite
*.db

# Ignore Parquet files
*.parquet


# Ignore data for taxi zones and weather
taxi_zones/
weather/

# Ignore the heatmap
nyc_heatmap_2020.html

# Ignore csv file
*.csv

# Ignore macOS system files
.DS_Store

# Ignore png image
*.png
